.ant-table-expanded-row >.ant-table-cell{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.ant-table-expanded-row >.ant-table-cell .ant-table{
    margin-inline:0px !important;
}

.ant-table-expanded-row >.ant-table-cell .ant-table .action-name{
    padding-left: 65px;
}
